
.parentContainer {
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100vw;
    padding: 10px;
    /* font-family:'Sawarabi Gothic'; */
}

:lang(ja) {
  font-family: 'Sawarabi Gothic';
}


.subtitle {
    font-size: 20px;
    font-weight: bold;
    color: black;
    border-left: 3px solid purple;
    padding-left: 10px;
    margin: 50px 0 30px;
}

.subsubtitle {
    font-weight: bold;
    margin-bottom: 20px;
}

.container {
    margin-top: 70px;
    margin-bottom: 50px;
}

.container span {
    color: purple;
}