.parentContainer {
    background: #f8f6fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    gap: 80px;
}

.funclist {
    background: white;
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.funclist li {
    border-bottom: 0.5px solid grey;
    padding: 15px;
    font-size: 15px;
    width: 80%;
    cursor: pointer;
}

.funclist li:hover{
    background: rgb(250, 250, 250);
}

.container1, .container2, .container3 {
    width: 100%;
    margin-top: 50px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
}

.container1 div, .container3 div {
    display: flex;
    justify-content: left;
    /* border: 1px solid black; */
    width: 90%;
    gap: 15px;
}

.container1 h2, .container2 h2, .container3 h2 {
    padding: 0;
    margin: 10px;
    border-left: 3px solid purple;
    width: 100%;
}

.manualimg {
    width: 70%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 40px 0;
}

.container1 {
    position: relative;
}

.commentContainer {
    display: flex;
    flex-direction: column;
}

.commentContainer p {
    margin-left: 80px;
    font-size: 18px;
}

.commentContainer span {
    font-size: 18px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.commentContainer span:hover {
    color: rgb(202, 158, 202);
    border-bottom: 1px solid rgb(202, 158, 202);
}

.square {
    position: absolute;
    top: 37%;
    left: 50%;
    width: 250px;
    height: 250px;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(236, 102, 102);
    font-size: 30px;
}

.circle1, .circle2 {
    position: absolute;
    top: 64%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(236, 102, 102);
    font-size: 20px;
}

.circle1 {
    left: 21%;
}

.circle2 {
    left: 50%;
    transform:translateX(-50%);
}

.title {
    width: 100%;
}

/* .glass {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  width: 100px;
  height: 100px;
  color: black;
  font-size: 1.1rem;
  backdrop-filter: blur(10px);
  box-shadow:
    inset 2px 2px 10px rgba(255, 255, 255, 0.6),
    inset -2px -2px 10px rgba(0, 0, 0, 0.2),
    0 4px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  right: 10%;
} */

/* .glassButton:hover {
  transform: translateY(-4px);
  box-shadow:
    inset 2px 2px 15px rgba(255, 255, 255, 0.8),
    0 6px 25px rgba(0, 0, 0, 0.4);
} */

/* .glassButton:active {
  transform: translateY(1px);
  box-shadow:
    inset 1px 1px 5px rgba(255, 255, 255, 0.5),
    0 2px 10px rgba(0, 0, 0, 0.3);
} */

.sliderWrapper {
  width: 100%;
  /* height: 100%; */
  overflow: hidden;
}

.slider1 {
  display: flex;
  width: 500vw;
  transition: transform 0.6s ease-in-out;
  position: relative;
}

.slider2 {
  display: flex;
  width: 300vw;
  transition: transform 0.6s ease-in-out;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.btnContainer {
    /* width: 100%;
    display: flex;
    justify-content:space-between; */
    /* gap: 300px; */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black; */
}

.btnContainer button {
    color: purple;
    font-weight: bold;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    /* background: rgba(0, 0, 0, 0.3); */
    background: none;
    cursor: pointer;
    box-shadow: 0, 0, 5px rgba(0, 0, 0, 0.3);
}

.container2 {
    position: relative;
}

.square2 {
    position: absolute;
    top: 44%;
    left: 10%;
    width: 240px;
    height: 75px;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(236, 102, 102);
    font-size: 30px;
}

.circle3 {
    position: absolute;
    top: 17.5%;
    left: 5%;
    width: 220px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid rgb(236, 102, 102);
    font-size: 20px;
}


.circle4 {
    position: absolute;
    top: 33%;
    left: 13.4%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(236, 102, 102);
    font-size: 20px;
}

.arrowRight, .arrowLeft {
    position: relative;
}

.arrowRight {
    margin-right: 20px;
    position: absolute;
    top: 50%;
    right: -3%;
}

.arrowLeft {
    margin-left: 20px;
    position: absolute;
    top: 50%;
    left: -3%;
}

.arrowRight::after {
    content: "swipe!";
    color: purple;
    font-size: 10px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

/* .arrowLeft::after {
    content: "swipe!";
    color: purple;
    font-size: 10px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
} */