.parentContainer {
    background: #f8f6fc;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    z-index: 0;
}

.btnContainer {
    /* border: 1px solid black; */
    width: 80%;
    position: fixed;
    top: 87%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center; */
}

.agentbtn, .gamebtn {
    background: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.agentbtn {
    position: absolute;
    top: 0%;
    left: 2%;
}

.gamebtn {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.wrapper {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* background-color: white; */
    /* background-color: rgba(255, 255, 255, 0); */
    /* background-color: lightblue; */
    /* opacity: 0; */
    background-color: #f8f6fc;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    /* padding-left: 5px; */
    padding-bottom: 100px;
    box-sizing: border-box;
    
    transition: background-color 1s ease;
    /* transition: opacity 1s ease; */
}

.listContainer {
    /* position: relative; */
    width: 70%;
    /* height: auto; */
    border-radius: 10px;
    padding: 0 10px;
    margin-left: 5px;
    margin-bottom: 50px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.listContainer.active .btn1 {
    opacity: 1;
    transition-delay: 0s;
    transform: translateY(0);
}

.listContainer.active .btn2 {
    opacity: 1;
    transition-delay: 0.15s;
    transform: translateY(0);
}

.listContainer.active .btn3 {
    opacity: 1;
    transition-delay: 0.3s;
    transform: translateY(0);
}

/* .listContainer {
    display: flex;
    gap: 15px;
    flex-direction: column;

} */

/* .listContainer::before {
    content: "";
    position: absolute;
    inset: 0;                
    pointer-events: none;    
    background: radial-gradient(
        circle at bottom left,
        rgba(255,255,255,1) 0%,
        rgba(255,255,255,0.9) 50%,
        rgba(255,255,255,0.5) 80%,
        rgba(255,255,255,0) 100%
    );
} */

/* .wrapper::before {
    content: "";
    position: absolute;
    inset: 0;                
    pointer-events: none;    
    background: radial-gradient(
        circle at bottom left,
        rgba(255,255,255,1) 0%,
        rgba(255,255,255,0.9) 50%,
        rgba(255,255,255,0.5) 80%,
        rgba(255,255,255,0) 100%
    );
    transform: scale(1);
    opacity: 0;
    transition: opacity 5s ease-out;
}

.active::before {
  opacity: 1;           
} */

.agentbtnnext {
    width: 100%;
    height: 65px;
    border-radius: 10px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    position: relative;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(-10px);
}

.agentbtnnext::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #A260BF;
    position: absolute;
    left: 10%;
}

.arrowright {
    position: absolute;
    right: 5%;
}

.closebtn {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
    cursor: pointer;
    background: #A260BF;
    color: white;
    font-weight: bold;
}

.closebtnContainer {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}